<div class="text-center m-2">
    <a class="btn btn-secondary btn-sm" asp-page="Landing">Landing</a>
    <a class="btn btn-secondary btn-sm" asp-page="Store">Store Level-2</a>
    <a class="btn btn-secondary btn-sm" asp-page="Admin">Admin L3</a>
</div>